<head>
  <meta charset="utf-8">
  <title>{{ page.main_title | liquify }}</title>
  {% seo title=false %}
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="
  sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family={{ site.data.base.fonts }}" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/styles.css">

  <meta name="theme-color" content="#fafafa">
</head>